{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":19,"column":0},"end":{"row":19,"column":19},"action":"remove","lines":["/config/secrets.yml"],"id":2}],[{"start":{"row":18,"column":15},"end":{"row":19,"column":0},"action":"remove","lines":["",""],"id":3}]]},"ace":{"folds":[],"scrolltop":142.5,"scrollleft":0,"selection":{"start":{"row":18,"column":15},"end":{"row":18,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":6,"state":"start","mode":"ace/mode/ini"}},"timestamp":1523130655763,"hash":"7dc47da10430d6a63a55cbb5a02721f3c5ce3526"}