<%= form_for [@chat,@chat.messages.new],:remote => true do |f| %>
<div class="form-chat">
    <div class="input-group input-group-sm">
         <%= f.text_area :content, class:"form-control" %>
        <span class="input-group-btn"> <%= f.submit "SEND", class: "btn btn-primary" %>
    </button> </span></div>
</div>
<% end %>
