
    <div class="author-name">
        <%= message.user.name %> <small class="chat-date">
        <%= message.created_at.to_s.split.first + " às " + message.created_at.to_s.split.second + " horas" %>
    </small>
    </div>
    <div class="chat-message active" style="font-size: 12px">
        <%= message.content  %>
    </div>
