<div class="container-fluid container-top" style="">
<div class="row wrapper border-bottom white-bg  page-heading">
      <div class="col-lg-12">
          <h2>Add New Note</h2>
      </div>
      
  </div>


<%= render 'form', note: @note %>


</div>