<div class="container-fluid container-top" style="">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title bg-primary">
            <h5><%= @note.title %></h5>
          </div>
          <div class="ibox-content">
            <p class="m-b-xl"><%= @note.description %></p>
            <%= link_to 'Voltar', user_notes_path(current_user), class: "btn btn-sm btn-default w-150" %>   
            <%= link_to 'Editar', edit_note_path(@note), class: "btn btn-sm btn-primary w-150 pull-right" %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



