<div class="container">
      <div class="row">
          <h2>Users</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <!--<th>#</th>-->
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                  <% User.all.each do |user| %>
                      <tr>
                          <td> <%= user.name %> </td>
                          <td> <%= user.role %> </td>
                          <td> <%= user.email %> </td>
                          <td> <%= link_to (user.approved ? 'Block user':'Approve User'),approve_user_path({user_id: user.id,approved: !user.approved}),method: :put %> </td>
                      </tr>
                  <% end %>
                
              </tbody>
            </table>
          </div>
        <!--</main>-->
      </div>
    </div>
