/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 *= require jquery-ui
 *= require_custom
 */
 
 .navbar{
  margin-bottom:0 !important;
  border-bottom:1px solid #676a6c !important;
 }
 .container-top{ /*HERE TO CHANGE BG COLOR*/
  /*background:#f5f5f5; min-height:86vh;*/   /*#1cc63921*/
  background: #f7f9fc; min-height:86vh;
 }
 .container-top .container{
  padding:50px 0;
 }
 
 .notes i{
  color: #fff !important;
 }
 
 .page-heading h2{
  margin-top: 10px !important;
  margin-bottom: 0 !important;
 }
.page-heading {
    font-size: 20px;
    padding: 5px !important;
}
 .log-button {
  background: #df0803;
  color: #fff !important;
  padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 3px;
 }
 .btnwhite {
  padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-top: 6px;
    color: #fff !important;
 }
 .btnlnk{
  font-size: 13px !important;
 }
 .bg-covr{
  background-image: url(/login-form-bg.jpg);
  background-size: cover;
  background-position: center center;
 }
 .bg-frm-opcty{
   background: rgba(255,255,255,0.8) !important;
 }
 .bg-frm-opcty .ibox-title, .bg-frm-opcty .ibox-content, .bg-frm-opcty .ibox-content .form-group .form-control, .bg-frm-opcty .ibox-content .form-group select, .bg-frm-opcty .ibox-content .form-group .input-group-addon{
  background-color: transparent !important;
 }
 .bg-frm-opcty .ibox-content .form-group .form-control, .bg-frm-opcty .ibox-content .form-group .input-group-addon, .bg-frm-opcty .ibox-content .form-group select{
  border-color: #000 !important;
 }
 .usr-bg {    
       padding: 0px 20px 3px 20px !important;
}
.m-b-sm {
    margin-bottom: 0px !important;
}
.set-set{    
    margin-bottom: 1px;
    padding-bottom: 2px;
}
.brnd{
 padding: 2px 15px;
}
.icon-chat {
 font-size: 22px;
 color: #19aa8d;
}
.icon-danger {
 font-size: 22px;
 color: red;
}
.table-icons td i{
 padding-right: 30px !important;
}
@media (min-width:768px){
.btn-notify{
  font-size:20px;
 display:block !important;
 margin: 0px 30px 25px 30px;
}
.td-notify{
 font-size:18px;
 padding:52px 0 !important;
}}
@media (max-width:992px){
.navbar-header, #navbar{
 width:100% !important;
}
 #navbar{
 margin-top:50px !important;
}
}
@media (min-width:992px){
.nav > li > a i {
  display: block;
  text-align: center;
}}
.no-link{
cursor:default !important;
pointer-events:none !important;
}


/*Personal classes bellow*/

.element-shadow{
  box-shadow: 0px 0.5px 0.4px 0px;
}


.element-shadow-soft{
  box-shadow: 0px 0.25px 0.25px 0px;
}
.search-right input[type="text"]{
   display: inline-block !important;
   width: 35% !important;
}
.search .dataTables_length, .search .dataTables_filter{
 display: none !important;
}