<% if current_user %>
        <div id= "footer_user" data-user=<%= current_user.id %> ></div>
    <% end %>
<div class="footer fixed_full">
    <div>
        <strong>Copyright</strong> Plataforma de Casos Clínicos © 2018
	    <div class="pull-right" id= "clockbox"></div>
    </div>
</div>